<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-searchbar placeholder="Buscar">

  </ion-searchbar>

  <ion-list>

    <ion-item-sliding>
  <ion-item lines="full">
    <ion-thumbnail slot="start">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/pSr0JjkI9iM1Yxe9cqrS6YBonAA.jpg" />
    </ion-thumbnail>

    <ion-label class="ion-text-wrap">
      <div>
        <h1>Gato de Botas 2: O Último Pedido (2022)</h1>
        <p>05/01/2023 (BR) - 1h 43m</p>
        <p>Animação, Aventura, Comédia, Família, Fantasia</p>
      </div>
    </ion-label>

    <ion-chip color="success" outline>
      <!-- <ion-icon name="pin" color="primary"></ion-icon> -->
      <ion-label>86%</ion-label>
      <!-- <ion-icon name="close"></ion-icon> -->
    </ion-chip>
  </ion-item>

  <ion-item-options side="end">
    <ion-item-options >
      <ion-icon slot="icon-only" name="star"></ion-icon>
    </ion-item-options>
  </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/aT2vdnR3qifI21f7fHTqYW5iAAz.jpg" />
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
        <div>
          <h1>Sonic 2 - O Filme (2022)</h1>
          <p>07/04/2022 (BR) - 2h 2m</p>
          <p>Ação, Aventura, Família, Comédia</p>
        </div>
      </ion-label>

      <ion-chip color="success" outline>
        <!-- <ion-icon name="pin" color="primary"></ion-icon> -->
        <ion-label>76%</ion-label>
        <!-- <ion-icon name="close"></ion-icon> -->
      </ion-chip>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-options >
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-item-options>
    </ion-item-options>
    </ion-item-sliding>

</ion-list>
</ion-content>
